body {
	font-family: 'Lora' serif; 
	font-size: 18px; 
	background-color: #454545;
	margin: 0px;  
}
h1, h2, h3 {
	font-family: Roboto, sans-serif;
	font-weight: bold; 
	color:white;

}



a {
	text-decoration: none; 
}



/* Tout le bandeau du haut */

.banner {
	background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url(image/intro-credit-agricole.jpg);
	background-attachment: fixed;
	color: white; 
	padding: 150px 0px;
	background-size: cover; 

}

.banner h1 {
	font-size: 50px;
	color:#007D8F;

}

.banner h2 {
	font-size: 30px;
	font-weight: lighter;
	opacity: 0.8;
	margin-bottom: 40px; 

}

.internal-banner  {
	width: 800px; 
	margin: 80px auto;
}

.btn-blue {
	background-color: #009787;
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
	font-weight: bold; 
	font-family: Roboto, sans-serif;
	margin: 0px 20px;
}

 
/* Fin du bandeau du haut */

/* Début équipe */

.container-equipe{
	margin:50px;
}

.container-equipe p {
	color:white;
}

.cards {
	display: flex;
	flex-wrap: wrap;
}

.card {
	
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.4); 
	border-radius: 6px;
	margin: 5px ;
	flex-basis: 170px; 
	flex-grow: 1;
	margin-bottom: 5px;
	background-color: rgb(240,240,240);
}

.card img {
	width: 120px; 
	border-radius: 100px; 
	filter:grayscale(100%);
	height: 120px;
	
}

.card h3 {
	
	flex-grow: 1;
	padding-left: 10px; 
	font-size: 16px; 
	text-align: center; 

}

.card p {
	text-align:justify;
	padding:5px;
}


.container-matthieu  {
	width: 90%; 
	margin: 10px auto;
}

.container-matthieu img {
	width:200px;
}

.container-concept  {
	width: 90%; 
	margin: 10px auto;

}

.internal-container {
	font-family: Roboto, sans-serif;
	padding: 20px; 
	text-align: justify;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.4); 
	border-radius: 6px;
	/*margin: 10px ; 
	flex-basis: 170px; 
	margin-bottom: 0px; 
	width: 740px; 
	margin: 80px auto; */
	display: flex;
	flex-wrap: wrap;
	background-color: rgb(240,240,240);

}

.internal-container h3 {

}




.card-question {
	background-color:rgb(40, 40, 40);
	color:white;
	padding: 20px;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.4); 
	flex-basis: 170px; 
	flex-grow: 1;
	padding-left:30px;
	padding-bottom:50px;
	
	/* margin-bottom: 20px;
	margin: 10px ;
	border-radius: 6px;
	*/
}
.card-question h2 {
	padding-left:50px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .internal-container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .internal-container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .internal-container {
    width: 300px;
  }
}




  